body{
    background-image: url(../images/cloth_00041.jpg);
}



.middle{
    text-align: center;
}



.middle_absolute{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
}

.middle_relative{
    height:60px;
    text-align:center;
    position:relative;
    
}